@use 'typography';
@use 'modal-form';

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../shared/assets/fonts/IBMPlexSans-Regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../../shared/assets/fonts/IBMPlexSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../../shared/assets/fonts/IBMPlexSans-SemiBold.woff2')
    format('woff2');
}

* {
  box-sizing: border-box;
}

html {
  overflow-y: auto;
}

body {
  margin: 0;
}

html,
body {
  background-color: variables.$surface-bg;
  color: variables.$text-primary;
  font-family: 'IBM Plex Sans', sans-serif;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border: 3px solid variables.$scrollbar-color;
}

blockquote {
  padding-left: 1em;
  border-left: 0.25em solid variables.$border-light;
  margin: 20px 0 !important;
  color: variables.$text-secondary;
}
